[*.cs]

dotnet_diagnostic.CS8600.severity = suggestion
dotnet_diagnostic.CS8601.severity = suggestion
dotnet_diagnostic.CS8602.severity = suggestion
dotnet_diagnostic.CS8603.severity = suggestion
dotnet_diagnostic.CS8604.severity = suggestion
dotnet_diagnostic.CS8605.severity = suggestion
dotnet_diagnostic.CS8618.severity = suggestion
dotnet_diagnostic.CS8625.severity = suggestion
dotnet_diagnostic.CS8714.severity = suggestion
